:root {
    --background-color: #101B24;
    --primary-color: white;
    --font-family: Arial, Helvetica, sans-serif;
    --font-size: 16px;

    --border-color: white;
}

body {
    margin: 0px;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
}

h1 {
    font-size: inherit;
}

.header {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    gap: 1rem;
}

.header a {
    color: var(--primary-color);
}

.main-section {
    display: flex;
    margin: 1rem;
    gap: 1rem;
    flex-direction: column;
    align-items: stretch;
}

.game-area {
    display: flex;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    min-height: 30vw;
}

.game-details {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    flex: 1;
}

.lobby-section {
    display: flex;
    justify-content: center;
}

/* Desktop */
@media (min-width: 1024px) {
    .main-section {
        flex-direction: row;
    }

    .game-area {
        width: 70%;
    }
}