:root {
    --background-color: #101B24;
    --primary-color: white;
    --font-family: Arial, Helvetica, sans-serif;
    --font-size: 16px;

    --border-color: white;
}

body {
    margin: 0px;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
}

h1 {
    font-size: inherit;
}

.header {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    gap: 1rem;
}

.header a {
    color: var(--primary-color);
}