.main-section {
    display: flex;
    margin: 1rem;
    gap: 1rem;
    flex-direction: column;
    align-items: stretch;
}

.game-area {
    display: flex;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.game-details {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    flex: 1;
}

.lobby-section {
    display: flex;
    justify-content: center;
}

/* Desktop */
@media (min-width: 1024px) {
    .main-section {
        flex-direction: row;
    }

    .game-area {
        width: 70%;
        min-height: 30vw;
    }
}